@import "styles/utils";

.main {
  min-height: 667px;

  @include media(">tablet") {
    min-height: 900px;
  }

  .calculatorContainer {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
}
