@import "styles/utils";

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'League Spartan', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: 700;
  font-size: 32px;
  color: var(--theme-text-color);
  background: var(--theme-background-color);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  font-family: 'League Spartan', sans-serif;
  font-weight: 700;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
